@font-face {
  font-family: "Inter-Bold";
  src: url("/assets/fonts/Inter/static/Inter_18pt-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Inter-Medium";
  src: url("/assets/fonts/Inter/static/Inter_18pt-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Made-Voyager";
  src: url("/assets/fonts/MADE-Voyager-PERSONAL-USE/made-voyager-personal-use.bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Uncut-Sans";
  src: url("/assets/fonts/Uncut-Sans/Uncut-Sans-Bold.otf");
  font-weight: 700;
}

body {
  padding: 0 135px;
  padding-top: 92px;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Inter-Medium";
  font-weight: 500;
}

/* HEADER START */
html.menu_open,
body.menu_open {
  overflow: hidden;
  height: 100%;
}

.content {
  width: 100%;
}

.header_top {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 1170px;
  margin: auto;
  z-index: 1000;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.header_top {
  padding: 40px 135px 20px 135px;
  display: grid;
  grid-template-columns: 0.48fr 1.5fr;
}

.logo_text {
  text-decoration: none;
  font-size: 24px;
  color: black;
  font-family: "Made-Voyager";
}

.special_word {
  color: #000000;
  font-family: "Uncut-Sans";
}

.menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  margin-right: 32px;
  font-size: 20px;
}

.left_menu nav ul li:nth-child(3) {
  margin: 0px;
}

.right_menu nav ul li:nth-child(3) {
  margin: 0px;
}

.menu ul li a {
  text-decoration: none;
  color: black;
}

.btn_menu {
  display: none;
  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

/* Mobile menu */
.menu_on_mobile {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  padding: 60px 0px 0px 0px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 999;
}

.menu_on_mobile.active {
  opacity: 1;
  pointer-events: auto;
}

.menu_overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
}

.menu_content {
  position: relative;
  z-index: 10;
  text-align: start;
  padding-left: 16px;
}

.menu_content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu_content ul li {
  display: block;
  margin: 15px 0;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}

.menu_on_mobile.active .menu_content ul li {
  opacity: 1;
  transform: translateY(0);
}

.menu_on_mobile.active .menu_content ul li:nth-child(1) {
  transition-delay: 0.1s;
}
.menu_on_mobile.active .menu_content ul li:nth-child(2) {
  transition-delay: 0.2s;
}
.menu_on_mobile.active .menu_content ul li:nth-child(3) {
  transition-delay: 0.3s;
}
.menu_on_mobile.active .menu_content ul li:nth-child(4) {
  transition-delay: 0.4s;
}
.menu_on_mobile.active .menu_content ul li:nth-child(5) {
  transition-delay: 0.5s;
}
.menu_on_mobile.active .menu_content ul li:nth-child(6) {
  transition-delay: 0.6s;
}

/* HEADER END */

/* MAIN HERO START */

.hero {
  max-width: 1170px;
  padding-top: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 54px;
  margin: 0 auto;
}

.title_hero {
  font-weight: 700;
  font-size: 60px;
  padding-bottom: 16px;
}

.subtitle_hero {
  max-width: 405px;
  font-size: 20px;
  padding-bottom: 31px;
}

.background_btn {
  padding: 3px 0px 7px 36px;
  padding-left: 7.95px;
  max-width: 283px;
  background-color: #000000;
  border-radius: 30px;
  height: 55px;
  align-items: center;
}

.front_background {
  align-items: center;
  padding: 18px 0px 18px 36px;
  padding-left: 18.05px;
  max-width: 264.07px;
  background-color: #fff;
  border-radius: 30px;
  border: none;
}

.btn_to_consultation a {
  text-align: end;
  padding: 18px 36px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  background-color: #000000;
  border-radius: 30px;
}

.right_hero {
  text-align: end;
}

/* MAIN HERO END */

@media (max-width: 425px) {
  body {
    padding: 0 16px;
    padding-top: 70px;
  }

  /* HEADER START */

  .header_top {
    position: fixed;
    width: 390px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    padding-left: 106px;
  }

  .header_top {
    padding: 20px 16px 16px 16px;
    top: 0;
    left: 0;
    z-index: 10045;
    background: none;
    backdrop-filter: blur(10px);
  }

  .header_top.active {
    padding: 16px;
    top: 0;
    left: 0;
    background: none;
    backdrop-filter: blur(10px);
  }

  .menu {
    display: none;
    justify-content: space-between;
  }

  .btn_menu {
    display: block;
    background: none;
    border: none;
    outline: none;
    text-align: end;
    padding: 0px;
    cursor: pointer;
    font-size: 18px;
  }

  .btn_menu.active {
    color: #fff;
  }

  .menu_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 1);
  }

  .menu_content_mobile .left_menu_mobile nav li {
    color: #fff;
  }

  .menu_content_mobile ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu_content ul li {
    display: block;
    margin: 10px 0;
  }

  .menu_content ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
  }

  .logo {
    display: block;
  }

  .logo_text {
    font-size: 15.95px;
  }

  .logo_text.active {
    color: #fff;
    z-index: 1001;
  }

  .special_word.active {
    color: #fff;
  }
  .menu_on_mobile.active {
    justify-content: start;
    opacity: 1;
    pointer-events: auto;
  }

  .special_word.active {
    color: #fff;
  }

  .btn_menu.active {
    color: #fff;
  }

  /* HEADER END */

  .hero {
    padding-top: 7 4px;
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 54px;
  }

  .left_hero {
    padding-bottom: 30px;
  }
}
