@font-face {
  font-family: "Inter-Bold";
  src: url("/assets/fonts/Inter/static/Inter_18pt-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Inter-Medium";
  src: url("/assets/fonts/Inter/static/Inter_18pt-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Made-Voyager";
  src: url("/assets/fonts/MADE-Voyager-PERSONAL-USE/made-voyager-personal-use.bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Uncut-Sans";
  src: url("/assets/fonts/Uncut-Sans/Uncut-Sans-Bold.otf");
  font-weight: 700;
}

body {
  background-color: rgba(22, 22, 22, 1);
  padding: 0 135px;
  padding-top: 40px;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Inter-Medium";
  font-weight: 500;
}

/* Form START */

.form-for-consultation {
  max-width: 1170px;
  margin: 0 auto;
}

.close-form {
  padding-bottom: 24px;
}

.close-form p {
  text-align: end;
  margin-right: -96px;
  font-size: 18px;
}

.close-form p a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.title-form {
  max-width: 570px;
  padding-bottom: 32px;
}

.title-form h2 {
  font-family: "Inter-Medium";
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 16px;
}

.title-form p {
  flex-wrap: wrap;
  font-family: "Inter-Medium";
  font-weight: 500;
  color: rgba(208, 206, 206, 1);
  font-size: 20px;
  max-width: 500px;
}

.form-to-send {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.name-and-phone {
  display: flex;
  gap: 20px;
}

.field-name,
.field-number {
  flex: 1;
}

.field-name input,
.field-number input {
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(22, 22, 22, 1);
  border: 0.5px solid rgba(255, 255, 255, 1);
  border-radius: 20px;
  padding: 28px 28px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.field-messaga textarea {
  box-sizing: border-box;
  resize: vertical;
  width: 100%;
  background-color: rgba(22, 22, 22, 1);
  border: 0.5px solid rgba(255, 255, 255, 1);
  border-radius: 20px;
  padding: 28px 28px;
  height: 145px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.btn-to-send-consultation button {
  width: 100%;
  padding: 24px 0px;
  background-color: rgba(48, 111, 219, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 40px;
  font-size: 24px;
  border: 0px;
  transition: 0.2s ease-in-out;
}

.btn-to-send-consultation button:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}

/* Form END */

@media (max-width: 426px) {
  body {
    background-color: rgba(22, 22, 22, 1);
    padding: 0 16px;
    padding-top: 40px;
  }

  .close-form p {
    margin-right: 0px;
  }

  .title-form {
    max-width: 328px;
    padding-bottom: 24px;
  }

  .title-form h2 {
    max-width: 220px;
    font-family: "Inter-Medium";
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 12px;
  }

  .title-form p {
    flex-wrap: wrap;
    font-family: "Inter-Medium";
    font-weight: 500;
    color: rgba(208, 206, 206, 1);
    font-size: 18px;
    max-width: 328px;
  }

  .form-to-send {
    gap: 12px;
  }
  .name-and-phone {
    gap: 12px;
  }
  .name-and-phone {
    flex-direction: column;
  }

  .field-name input,
  .field-number input {
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(22, 22, 22, 1);
    border: 0.5px solid rgba(255, 255, 255, 1);
    border-radius: 40px;
    padding: 15px 24px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
  }

  .field-messaga textarea {
    box-sizing: border-box;
    resize: vertical;
    width: 100%;
    background-color: rgba(22, 22, 22, 1);
    border: 0.5px solid rgba(255, 255, 255, 1);
    border-radius: 15px;
    padding: 15px 24px;
    height: 145px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
  }

  .btn-to-send-consultation button {
    width: 100%;
    padding: 24px 0px;
    background-color: rgba(48, 111, 219, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 40px;
    font-size: 16px;
    border: 0px;
    transition: 0.2s ease-in-out;
  }
}
